.contentDiv {
  font-size: large;
  transition: 3s width;
  border: 0.5em double #ffffff;
  background-color: #498ec7;
  border-radius: 1em;
  padding: 1em;
}

.contentDiv:hover{
  font-size: larger;
}

.fontIcon {
  border-radius: 50%;
  background-color: transparent;
  padding: 0.5em;
  border: 0.1em solid aliceblue;
  
}

.specialStyling {
  background: -webkit-linear-gradient(right, #498ec7, #e6e6e6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;


}

.clickDiv {
  text-decoration: none;
}
.clickDiv:hover {
  text-decoration: none;
}

.createItem {
  color: #ffffff;
  border: 0.5em double #498ec7;
  background-color: rgb(24, 53, 94);
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  transition: 2s ease;
}

.createItem:hover {
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  border-radius: 2em;
  border: 0.5em double  #e6e6e6;
  background-color: #498ec7;
  font-size: larger;
}


.portfolio {
  margin: 1em;
}

.buttonStyle {
  border-radius: 2em;
  background-color: rgb(24, 53, 94);
  font-size: x-large;
  padding: 1em; 
  border: 0.5em double #e6e6e6;
  transition: 2s width;
}

.buttonStyle:hover {
  font-size: xx-large;
}
