.contentDiv {
  font-size: large;
  transition: 3s width;
}

.contentDiv:hover{
  font-size: larger;
  background: -webkit-linear-gradient(left, #498ec7, #e6e6e6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.fontIcon {
  border-radius: 50%;
  background-color: aliceblue;
  padding: 0.5em;
  border: 0.1em solid aliceblue;
  background: -webkit-linear-gradient(#afeeff, #0c0f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specialStyling {
  background: -webkit-linear-gradient(right, #498ec7, #e6e6e6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clickDiv {
  text-decoration: none;
}
.clickDiv:hover {
  text-decoration: none;
}

.createItem {
  border: 0.5em double #498ec7;
  color: #ffffff;
  background-color: rgb(24, 53, 94);
  border-radius: 5%;
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  transition: 2s;
}

.createItem:hover {
  border-radius: 5%;
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  background-color: #afeeff;
  color: #0c0f6f;
  font-size: larger;
  border: 0.5em double #0c0f6f;
}

.portfolio {
  margin: 1em;
}




